<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Score de Riesgo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
  <header>
    <h1>Calculadora de Score de Riesgo</h1>
    <h2>Material Adicional</h2>
    <ul>
      <li><a href="https://www.google.com" target="_blank">📄 Ver Reporte Técnico</a></li>
      <li><a href="https://www.google.com" target="_blank">🎯 Ver Material Publicitario</a></li>
    </ul>
  </header>
  <main>
    
    <form method="POST">
      <label>Edad:
        <input type="number" name="edad" required>
      </label>

      <label>Ingresos mensuales ($):
        <input type="number" name="ingresos" step="any" required>
      </label>

      <label>Deudas actuales ($):
        <input type="number" name="deudas" step="any" required>
      </label>

      <button type="submit">Calcular</button>
    </form>
  </main>
  

    {% if score%}
      <section>
        <h2>Resultado</h2>
        <p><strong>Tu score estimado de riesgo es:</strong> {{ score }}%</p>
        <p>
          {% if score < 30 %}
            🟢 Bajo riesgo
          {% elif score < 70 %}
            🟡 Riesgo medio
          {% else %}
            🔴 Alto riesgo
          {% endif %}
        </p>
      </section>
    {% endif %}
</body>
</html>
